html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: rgba(244, 244, 244, 0.32);
  height: 100%;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
